// VARIABLES
// Font-family
$font-f: "Roboto", sans-serif;
// Paleta de colores
$bg-color1: rgb(32, 178, 170);
$bg-color2: #212121;
$bg-color3: #fafafa;
$bg-color4: #7d8389;
$color1: #000;
$color2: #333;
$color3: #fff;
// Font-weight
$font-w: 600;
// Ancho y alto
$width: 100%;
$height: 100%;
